<h2><%= property.name %></h2>
<p><%= property.address %></p>
<p>Price per night: <%= number_to_currency(property.price_per_night) %></p>
<%= link_to 'View Property', property_path(property), class: 'btn btn-primary' %>
