<div class="custom-marker">
  <div style="background-color: white; border-radius: 28px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 2); padding: 0px 5px; text-align: center;">
    <p>$<%= property.price_per_night %></p>
  </div>
</div>
