
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h1><%= @property.name %></h1>
    </div>
    <div class="card-body">
      <p><strong>Location:</strong> <%= @property.location %></p>
      <p><strong>Rating:</strong> <%= @property.rating%></p>
    </div>
  </div>
</div>
