<footer class="bg-light text-center text-dark py-4">
  <div class="container">

    <section class="mb-4">

      <a class="btn btn-outline-dark btn-floating m-1" href="#" target="_blank" role="button">
        <i class="fab fa-twitter"></i>
      </a>

      <a class="btn btn-outline-dark btn-floating m-1" href="#" target="_blank" role="button">
        <i class="fab fa-instagram"></i>
      </a>

      <a class="btn btn-outline-dark btn-floating m-1" href="#" target="_blank" role="button">
        <i class="fab fa-facebook"></i>
      </a>

      <a class="btn btn-outline-dark btn-floating m-1" href="#" target="_blank" role="button">
        <i class="fab fa-github"></i>
      </a>
    </section>

    <div class="text-center">
      &copy; <%= Time.now.year %> FlatRent. All rights reserved.
    </div>
  </div>
</footer>

