.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.custom-marker {
  cursor: pointer;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
}


.custom-marker div {
  font-size: 12px;
  font-family: Arial, sans-serif;
  color: #333;
}
